.Wrapper {
    --Search-height: 46px;
    --search-btn-width: 52px;
    --Search-border-radius: 92px;
    --Search-top-spacer: 9px;

    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--white);
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-higher);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0px 24px;
}

.logo {
    display: flex;
}

.active {
    display: flex;
    align-items: center;
}

.more-btn {
    width: 20px;
    height: 20px;
    padding: 0px 4px;
    margin-left: 16px;
    background-color: transparent;
    font-size: 1.8rem;
    cursor: pointer;
}

.active-btn {
    background-color: transparent;
    margin-left: 19px;
    padding: 0px;
}

.avatar_user {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    border-radius: 50%;
}
