.Wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 25px;
    font-weight: 600;
    min-width: 100px;
    padding: 5px 16px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;

    + .Wrapper {
        margin-left: 16px;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 100%;
    font-size: 1.8rem;
    font-weight: 400;
}

// button types
.round {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
    min-width: 90px;
    padding: 3px 16px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 52px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}

.rectangle {
    min-width: 114px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    color: var(--text-color);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

// button types

.small {
    min-width: 88px;
    padding: 1px 16px;
}

.large {
    min-width: 324px;
    padding: 11px 16px;
}
